In [13]:
import requests


url = "https://catfact.ninja/facts"

# Send a GET request to the API
response = requests.get(url)
response.raise_for_status()  # Raise an HTTPError for bad responses (4xx and 5xx)

# Parse the JSON response
print(response)
data = response.json()
print(data)
fact = data.get("fact")

<Response [200]>
{'current_page': 1, 'data': [{'fact': 'Unlike dogs, cats do not have a sweet tooth. Scientists believe this is due to a mutation in a key taste receptor.', 'length': 114}, {'fact': 'When a cat chases its prey, it keeps its head level. Dogs and humans bob their heads up and down.', 'length': 97}, {'fact': 'The technical term for a cat’s hairball is a “bezoar.”', 'length': 54}, {'fact': 'A group of cats is called a “clowder.”', 'length': 38}, {'fact': 'A cat can’t climb head first down a tree because every claw on a cat’s paw points the same way. To get down from a tree, a cat must back down.', 'length': 142}, {'fact': 'Cats make about 100 different sounds. Dogs make only about 10.', 'length': 62}, {'fact': 'Every year, nearly four million cats are eaten in Asia.', 'length': 55}, {'fact': 'There are more than 500 million domestic cats in the world, with approximately 40 recognized breeds.', 'length': 100}, {'fact': 'Approximately 24 cat skins can make a coat.', 'length': 43}, {'fact': 'While it is commonly thought that the ancient Egyptians were the first to domesticate cats, the oldest known pet cat was recently found in a 9,500-year-old grave on the Mediterranean island of Cyprus. This grave predates early Egyptian art depicting cats by 4,000 years or more.', 'length': 278}], 'first_page_url': 'https://catfact.ninja/facts?page=1', 'from': 1, 'last_page': 34, 'last_page_url': 'https://catfact.ninja/facts?page=34', 'links': [{'url': None, 'label': 'Previous', 'active': False}, {'url': 'https://catfact.ninja/facts?page=1', 'label': '1', 'active': True}, {'url': 'https://catfact.ninja/facts?page=2', 'label': '2', 'active': False}, {'url': 'https://catfact.ninja/facts?page=3', 'label': '3', 'active': False}, {'url': 'https://catfact.ninja/facts?page=4', 'label': '4', 'active': False}, {'url': 'https://catfact.ninja/facts?page=5', 'label': '5', 'active': False}, {'url': 'https://catfact.ninja/facts?page=6', 'label': '6', 'active': False}, {'url': 'https://catfact.ninja/facts?page=7', 'label': '7', 'active': False}, {'url': 'https://catfact.ninja/facts?page=8', 'label': '8', 'active': False}, {'url': 'https://catfact.ninja/facts?page=9', 'label': '9', 'active': False}, {'url': 'https://catfact.ninja/facts?page=10', 'label': '10', 'active': False}, {'url': None, 'label': '...', 'active': False}, {'url': 'https://catfact.ninja/facts?page=33', 'label': '33', 'active': False}, {'url': 'https://catfact.ninja/facts?page=34', 'label': '34', 'active': False}, {'url': 'https://catfact.ninja/facts?page=2', 'label': 'Next', 'active': False}], 'next_page_url': 'https://catfact.ninja/facts?page=2', 'path': 'https://catfact.ninja/facts', 'per_page': 10, 'prev_page_url': None, 'to': 10, 'total': 332}

In [25]:
import pandas as pd

ddf = data['data']

df = pd.DataFrame(ddf)

df.head()

                                                fact  length
0  Unlike dogs, cats do not have a sweet tooth. S...     114
1  When a cat chases its prey, it keeps its head ...      97
2  The technical term for a cat’s hairball is a “...      54
3             A group of cats is called a “clowder.”      38
4  A cat can’t climb head first down a tree becau...     142

In [30]:
cats = df.loc[:5,:]
cats.head(15)

                                                fact  length
0  Unlike dogs, cats do not have a sweet tooth. S...     114
1  When a cat chases its prey, it keeps its head ...      97
2  The technical term for a cat’s hairball is a “...      54
3             A group of cats is called a “clowder.”      38
4  A cat can’t climb head first down a tree becau...     142
5  Cats make about 100 different sounds. Dogs mak...      62

In [31]:
cats['len'] = df['fact'].str.len()

cats['words'] = df['fact'].apply(lambda x: len(x.split()) )

cats.head()

C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\2751313636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['len'] = df['fact'].str.len()
C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\2751313636.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['words'] = df['fact'].apply(lambda x: len(x.split()) )

                                                fact  length  len  words
0  Unlike dogs, cats do not have a sweet tooth. S...     114  114     22
1  When a cat chases its prey, it keeps its head ...      97   97     20
2  The technical term for a cat’s hairball is a “...      54   54     10
3             A group of cats is called a “clowder.”      38   38      8
4  A cat can’t climb head first down a tree becau...     142  142     31

In [72]:
import numpy as np

cats['score'] = np.nan
for i, f in cats.iterrows():
    print(f['fact'])
    score = int(input(f'Podaj ocene  (1-10):'))
    cats.at[i, 'score'] = score
cats.head()

C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\3437857490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['score'] = np.nan

Unlike dogs, cats do not have a sweet tooth. Scientists believe this is due to a mutation in a key taste receptor.
When a cat chases its prey, it keeps its head level. Dogs and humans bob their heads up and down.
The technical term for a cat’s hairball is a “bezoar.”
A group of cats is called a “clowder.”
A cat can’t climb head first down a tree because every claw on a cat’s paw points the same way. To get down from a tree, a cat must back down.
Cats make about 100 different sounds. Dogs make only about 10.

,fact,length,len,words,score,los0-33,ocena x,ocena y,skal ocena x,skal ocena y
0,"Unlike dogs, cats do not have a sweet tooth. S...",114,114,22,8.0,10,9,65,0.555556,54.666667
1,"When a cat chases its prey, it keeps its head ...",97,97,20,6.0,20,9,44,0.555556,26.666667
2,The technical term for a cat’s hairball is a “...,54,54,10,5.0,3,26,99,10.000000,100.000000
3,A group of cats is called a “clowder.”,38,38,8,4.0,3,21,56,7.222222,42.666667
4,A cat can’t climb head first down a tree becau...,142,142,31,3.0,30,8,62,0.000000,50.666667

In [87]:
import random

cats['ocena x'] = np.random.randint(0, 33, size=len(cats)).astype('int')
cats['ocena y'] = np.random.randint(0, 100, size=len(cats)).astype('int')

cats.head()

C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\1824821700.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['ocena x'] = np.random.randint(0, 33, size=len(cats)).astype('int')
C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\1824821700.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['ocena y'] = np.random.randint(0, 100, size=len(cats)).astype('int')

,fact,length,len,words,score,los0-33,ocena x,ocena y,skal ocena x,skal ocena y,avg_score,sum
0,"Unlike dogs, cats do not have a sweet tooth. S...",114,114,22,8.0,10,28,84,4.4,13.333333,20.666667,62.0
1,"When a cat chases its prey, it keeps its head ...",97,97,20,6.0,20,21,87,0.0,40.000000,21.666667,65.0
2,The technical term for a cat’s hairball is a “...,54,54,10,5.0,3,13,21,8.0,0.000000,20.000000,60.0
3,A group of cats is called a “clowder.”,38,38,8,4.0,3,27,77,10.0,71.666667,35.666667,107.0
4,A cat can’t climb head first down a tree becau...,142,142,31,3.0,30,24,80,4.4,100.000000,36.333333,109.0

In [74]:
from sklearn.preprocessing import MinMaxScaler
scal1 = MinMaxScaler(feature_range=(0,10))
cats['skal ocena x'] = scal1.fit_transform(cats[['ocena x']])

scat2 = MinMaxScaler(feature_range=(0,100))

cats['skal ocena y'] = scat2.fit_transform(cats[['ocena y']])
cats.head()

C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\3043180281.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['skal ocena x'] = scal1.fit_transform(cats[['ocena x']])
C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\3043180281.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['skal ocena y'] = scat2.fit_transform(cats[['ocena y']])

,fact,length,len,words,score,los0-33,ocena x,ocena y,skal ocena x,skal ocena y
0,"Unlike dogs, cats do not have a sweet tooth. S...",114,114,22,8.0,10,17,37,4.4,13.333333
1,"When a cat chases its prey, it keeps its head ...",97,97,20,6.0,20,6,53,0.0,40.000000
2,The technical term for a cat’s hairball is a “...,54,54,10,5.0,3,26,29,8.0,0.000000
3,A group of cats is called a “clowder.”,38,38,8,4.0,3,31,72,10.0,71.666667
4,A cat can’t climb head first down a tree becau...,142,142,31,3.0,30,17,89,4.4,100.000000

In [79]:
cats['sum'] = (cats['score'] + cats['ocena x'] + cats['ocena y'])
cats['avg_score'] = (cats['score'] + cats['ocena x'] + cats['ocena y'])/3
print(cats['avg_score'].max())
cats.head()

36.333333333333336

C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\4024271106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['sum'] = (cats['score'] + cats['ocena x'] + cats['ocena y'])
C:\Users\Karolcia\AppData\Local\Temp\ipykernel_40484\4024271106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats['avg_score'] = (cats['score'] + cats['ocena x'] + cats['ocena y'])/3

,fact,length,len,words,score,los0-33,ocena x,ocena y,skal ocena x,skal ocena y,avg_score,sum
0,"Unlike dogs, cats do not have a sweet tooth. S...",114,114,22,8.0,10,17,37,4.4,13.333333,20.666667,62.0
1,"When a cat chases its prey, it keeps its head ...",97,97,20,6.0,20,6,53,0.0,40.000000,21.666667,65.0
2,The technical term for a cat’s hairball is a “...,54,54,10,5.0,3,26,29,8.0,0.000000,20.000000,60.0
3,A group of cats is called a “clowder.”,38,38,8,4.0,3,31,72,10.0,71.666667,35.666667,107.0
4,A cat can’t climb head first down a tree becau...,142,142,31,3.0,30,17,89,4.4,100.000000,36.333333,109.0

In [83]:
top1_score = cats.sort_values('score', ascending=False)
top1_score.head(1)

,fact,length,len,words,score,los0-33,ocena x,ocena y,skal ocena x,skal ocena y,avg_score,sum
0,"Unlike dogs, cats do not have a sweet tooth. S...",114,114,22,8.0,10,17,37,4.4,13.333333,20.666667,62.0