In [1]:
from pyspark.sql import SparkSession

### Pliki CSV

In [7]:

# Opcja I: read.csv
with SparkSession.builder.appName("pyspark-files").getOrCreate() as spark:
    df = spark.read.csv("./work/data/products.csv", header=True, sep=",")
    df.show(5)
    df.printSchema()

+---+----------+--------+---+----------+--------+
| id|      name|cost_net|vat|cost_gross|category|
+---+----------+--------+---+----------+--------+
|  1|Bindownica| 2003.46|  8|   2163.74|       B|
|  2| Telewizor| 1144.24|  5|   1201.45|       H|
|  3|     Torba|   75.66|  5|     79.44|       E|
|  4| Podkładka| 2653.38|  8|   2865.65|       D|
|  5|   Hub USB|  416.74| 23|    512.59|       G|
+---+----------+--------+---+----------+--------+
only showing top 5 rows

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- cost_net: string (nullable = true)
 |-- vat: string (nullable = true)
 |-- cost_gross: string (nullable = true)
 |-- category: string (nullable = true)

In [8]:
# Opcja II: ogólny | Metoda format+load
with SparkSession.builder.appName("pyspark-files").getOrCreate() as spark:
    # Alternatywa: option("header", "True").option("delimeter", ",")
    df = spark.read.format("csv") \
        .options(header=True, delimeter=",") \
        .load("./work/data/products.csv")
        
    df.show(5)
    df.printSchema()

+---+----------+--------+---+----------+--------+
| id|      name|cost_net|vat|cost_gross|category|
+---+----------+--------+---+----------+--------+
|  1|Bindownica| 2003.46|  8|   2163.74|       B|
|  2| Telewizor| 1144.24|  5|   1201.45|       H|
|  3|     Torba|   75.66|  5|     79.44|       E|
|  4| Podkładka| 2653.38|  8|   2865.65|       D|
|  5|   Hub USB|  416.74| 23|    512.59|       G|
+---+----------+--------+---+----------+--------+
only showing top 5 rows

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- cost_net: string (nullable = true)
 |-- vat: string (nullable = true)
 |-- cost_gross: string (nullable = true)
 |-- category: string (nullable = true)

### Plik JSON

In [10]:
with SparkSession.builder.appName("pyspark-files").getOrCreate() as spark:
    df = spark.read.json("./work/data/users.json", multiLine=True)
    df.show()

+------------+---------------------+----+--------+--------------------------------+
|balans_konta|data_utworzenia_konta|imie|nazwisko|timestamp_ostatniej_aktualizacji|
+------------+---------------------+----+--------+--------------------------------+
|     1500.75|           2021-03-15| Jan|Kowalski|            2023-10-05T14:30:00Z|
|      2300.5|           2020-07-22|Anna|   Nowak|            2023-09-28T09:45:00Z|
+------------+---------------------+----+--------+--------------------------------+

In [12]:
with SparkSession.builder.appName("pyspark-files").getOrCreate() as spark:
    df = spark.read.format("json").options(multiLine=True).load("./work/data/users.json")
    df.show()

+------------+---------------------+----+--------+--------------------------------+---------+------+
|balans_konta|data_utworzenia_konta|imie|nazwisko|timestamp_ostatniej_aktualizacji|typ_konta|waluta|
+------------+---------------------+----+--------+--------------------------------+---------+------+
|     1500.75|           2021-03-15| Jan|Kowalski|            2023-10-05T14:30:00Z|      VIP|  NULL|
|      2300.5|           2020-07-22|Anna|   Nowak|            2023-09-28T09:45:00Z|     NULL|   PLN|
+------------+---------------------+----+--------+--------------------------------+---------+------+